<div class="container d-flex justify-content-center">
  <div class="row col-md-6">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">
          {{ editMode ? "Edit Product" : "Add Product" }}
        </h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ editMode ? "Edit product: " + product.name : "Add new product" }}
        </h5>
        <hr />
        <div
          *ngIf="errorMessage != undefined"
          class="alert alert-danger d-flex align-items-center"
          role="alert"
        >
          <i class="bi bi-exclamation-triangle mx-2"></i>
          <div>{{ errorMessage }}</div>
        </div>
        <form
          [formGroup]="productFormGroup"
          (ngSubmit)="editMode ? handelUpdate() : handleAdding()"
        >
          <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label col-form-label-sm"
              >Name</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control form-control-sm"
                id="name"
                placeholder="Enter product name here"
                formControlName="name"
                autocomplete="off"
              />
              <small
                *ngIf="
                  productFormGroup.controls['name'].errors &&
                  productFormGroup.controls['name'].touched
                "
                class="text-danger"
              >
                {{
                  getErrorMessage(
                    "name",
                    productFormGroup.controls["name"].errors
                  )
                }}
              </small>
            </div>
          </div>

          <div class="row mb-3">
            <label for="price" class="col-sm-2 col-form-label col-form-label-sm"
              >Price</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control form-control-sm"
                id="price"
                placeholder="Enter product price here"
                formControlName="price"
                autocomplete="off"
              />
              <small
                *ngIf="
                  productFormGroup.controls['price'].errors &&
                  productFormGroup.controls['price'].touched
                "
                class="text-danger"
              >
                {{
                  getErrorMessage(
                    "price",
                    productFormGroup.controls["price"].errors
                  )
                }}
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-check form-switch">
              <label class="form-check-label" for="promotion">
                Promotion
              </label>
              <input
                formControlName="promotion"
                class="form-check-input"
                type="checkbox"
                id="promotion"
              />
            </div>
          </div>
          <div class="row mb-3">
            <button
              [ngClass]="editMode ? 'btn-warning' : 'btn-success'"
              class="btn"
              type="submit"
            >
              {{ editMode ? "Update" : "Add" }}
            </button>
            <a class="btn btn-link" routerLink="/admin/products"
              >Back tp product list</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
